:root {
  --background-color: rgba(19, 28, 59, 0.9);
  --cards-background-color: rgba(19, 28, 59, 0.85);
  --player-timeline-color: rgba(41, 50, 82, 0.75);
  --color: rgba(218, 222, 235, 0.85);
  --spotify-green: #1ed760;

  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background-color: var(--background-color);
  color: var(--color);
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;

  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
