:root {
  --background-color: rgba(19, 28, 59, 0.9);
  --home-cards-background-color: #5a2885;
  --home-cards-border-color: #4f3b6c;
  --cards-background-color: #4f267d;
  --cards-border-color: #6b3f9b;
  --player-timeline-color: rgba(41, 50, 82, 0.75);
  --color: #ffffff;
  --subtitle-color: #c9a8d6;
  --spotify-green: #1ed760;

  font-family: Inter,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;
}

body * {
  font-family: Inter,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background: linear-gradient(120deg, rgb(21 24 49), rgb(86 28 133), rgb(59 26 98));
  color: var(--color);
  min-height: 100vh;
  transition: color 0.5s,
  background-color 0.5s;
  line-height: 1.6;

  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
