:root {
  --background-color: rgba(19, 28, 59, 0.9);
  --home-cards-background-color: rgb(255 255 255/0.05);
  --home-cards-border-color: rgb(255 255 255/0.1);
  --cards-background-color: rgb(255 255 255/0.05);
  --cards-border-color: rgb(255 255 255 / 0.1);
  --search-background-color: rgb(255 255 255 / 0.1);
  --search-border-color: rgb(255 255 255 / 0.2);
  --player-timeline-color: rgba(41, 50, 82, 0.75);
  --color: #ffffff;
  --subtitle-color: #c9a8d6;
  --spotify-green: #1ed760;

  --tw-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored:
    0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

body * {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background: linear-gradient(120deg, #332e82, #561c89, #4c1d94);
  color: var(--color);
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;

  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
