@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.teal-card {
  background-color: #2f4040;
  border-color: #c3d7d7;
  color: #c3d7d7;
}

.lavanda-card {
  background-color: #2A2438;
  border-color: #B4A7D6;
  color: #B4A7D6;
}

.lightblue-card {
  background-color: #1E2A3A;
  border-color: #8BADD4;
  color: #8BADD4;
}

.mint-card {
  background-color: #1F2E2A;
  border-color: #88C9B8;
  color: #88C9B8;
}

.lightpink-card {
  background-color: #2E2328;
  border-color: #E6A0B8;
  color: #E6A0B8;
}

.yellow-card {
  background-color: #2E2A1E;
  border-color: #E8D08A;
  color: #E8D08A;
}

.peach-card {
  background-color: #2E271E;
  border-color: #F5B895;
  color: #F5B895;
}

.sage-card {
  background-color: #232E25;
  border-color: #A8C69F;
  color: #A8C69F;
}

.violet-card {
  background-color: #2A2338;
  border-color: #C9A8D6;
  color: #C9A8D6;
}
